.panel__option-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
   margin-left: 7px;
}

.panel__option-button:hover {
    cursor: pointer;
    opacity: 0.8;
}