.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(62, 135, 248);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
}